---
import 'photoswipe/style.css';

interface Props {
    src: string
    thumbnailSrc: string
    height?: string
    width?: string
    alt?: string
}

const { src, height = 720, width = 1280, alt, thumbnailSrc } = Astro.props
---

<figure class="pswp-gallery" id="unique-photo">
    <a href={src} target="_blank" data-pswp-width={width} data-pswp-height={height}>
        <img height={height} width={width} fetchpriority="high" src={thumbnailSrc || src} alt={alt}>
    </a>
</figure>


<head>
    <script>
        import PhotoSwipeLightbox from 'photoswipe/lightbox';
        
        let loaded = false;

        const lightbox = new PhotoSwipeLightbox({
            gallery: '#unique-photo',
            children: 'a',
            pswpModule: () => import('photoswipe')
        });

        document.addEventListener("astro:after-swap", function () {
            loaded = true
            lightbox.init()
        })

        if (!loaded) {
            lightbox.init()
        }
    </script>
</head>