---

interface Props {
    patreonId: number,
    patreonDescription: string
    patreonPost: string
}

const { patreonDescription, patreonId, patreonPost } = Astro.props

import { getPatreonUser } from "@apis/patreon"

const user = await getPatreonUser(patreonId)
const bannerImage = user?.included[0].attributes.cover_photo_url_sizes?.medium
const avatarPhoto = user?.included[0].attributes.avatar_photo_image_urls?.default
const patreonMembers = user?.included[0].attributes.patron_count
const patreonName = user?.included[0].attributes.name
const vanityName = user?.data.attributes.vanity

---

{
    user && (
        <section class="patreon_wrapper">
            <img fetchpriority="high" class="patreon_banner" src={bannerImage} />
            <div class="patreon_content">
                <img fetchpriority="high" class="patreon_avatar" src={avatarPhoto} alt={patreonName} />
                <h2 class="patreon_name">{patreonName}</h2>
                {
                        patreonMembers && (<span class="patreon_count">{patreonMembers} {" "} {patreonMembers > 1 ? "Members" : "Member"}</span>)
                }
                <p class="patreon_description">{patreonDescription}</p>
                <div class="patreon_buttons">
                    <a target="_blank" class="patreon_btn patreon_buy" href={"https://patreon.com/" + vanityName + "/membership"}>Buy Membership</a>
                    <a target="_blank" class="patreon_btn patreon_visit" href={patreonPost}>Read More</a>
                </div>
            </div>
        </section>
    )
}


<style is:inline>
    .patreon_wrapper {
        position: relative;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        border-radius: .365rem;
        border: 1px solid #33333315
    }

    .patreon_banner {
        aspect-ratio: 16/5;
        object-fit: cover;
        width: 100%;
        margin: 0;  
    }

    .patreon_content {
        width: 100%;
        padding: 1rem;
        margin-top: 0 !important;
        height: auto;
        background-color: white;
        padding: 2rem;
    }

    [data-theme="dark"] .patreon_content {
        background-color: #23262f;
    }

    .patreon_avatar {
        aspect-ratio: 1/1;
        width: 100px;
        margin: auto;
        margin-top: -4rem;
        border-radius: .365rem;
    }

    .patreon_count {
        display: block;
        color: black;
        text-align: center;
        width: 100%;
    }

    .patreon_count::after {
        content: " 👤";
    }

    [data-theme="dark"] .patreon_count {
        color: white;
    }

    .patreon_wrapper .patreon_name {
        color: black;
        text-align: center;
        margin: auto;
        width: max-content;
    }

    [data-theme="dark"] .patreon_wrapper .patreon_name {
        color: white;
    }

    .patreon_wrapper .patreon_description {
        color: black;
        margin: 1rem auto;
        max-width: 500px;
        text-align: center;
        text-wrap: pretty;
    }

    [data-theme="dark"] .patreon_wrapper .patreon_description {
        color: white
    }

    .patreon_wrapper .patreon_content .patreon_buttons {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .patreon_wrapper .patreon_content .patreon_btn {
        color: black;
        text-decoration: none;
        width: 100%;
        text-align: center;
        border-radius: .365rem;
        padding: 1rem;
    }

    .patreon_buttons .patreon_btn.patreon_buy {
        background-color: #F96854;
        color: white;
        transition: 200ms;
    }

    .patreon_buttons .patreon_btn.patreon_buy:hover {
        background-color: #eb6351;
    }

    
    .patreon_buttons .patreon_btn.patreon_visit {
        background-color: #5754f9;
        color: white;
        transition: 200ms;
    }

    .patreon_buttons .patreon_btn.patreon_visit:hover {
        background-color: #4845dd;
    }
</style>



